@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: #303030;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 75px;
    color: #50BCF0;
    margin: 0px 25px;
}