@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: #303030;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 75px;
    color: #50BCF0;
    margin: 0px 25px;
}

.app {
    display: flex;
    margin: 25px 25px;
    gap: 25px;
}

.controls {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    max-width: 150px;
    gap: 10px;
}

.controls > button {
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.controls > button:hover {
    background-color: #50BCF0;
    color: #FFFFFF;
}

.controls-reset {
    margin-top: 50px;
}

.grid {
    background-color: #444243;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 800px;
    max-height: 800px;
    border: 5px solid #50BCF0;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.grid-square {
    flex: 1 1 auto;
    border: 1px dashed #50BCF0;
    box-sizing: border-box;
    margin: -1px;
    aspect-ratio: 1 / 1;
}