@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: #303030;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-size: 75px;
    color: #50BCF0;
    margin: 0px 25px;
}

.app {
    display: flex;
    margin: 25px 25px;
    gap: 25px;
}

.controls {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    max-width: 150px;
    gap: 10px;
}

.controls > button {
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.controls > button:hover {
    background-color: #50BCF0;
    color: #FFFFFF;
}

.controls > .is-active {
    background-color: #50BCF0;
    color: #FFFFFF;
}

.controls-reset {
    margin-top: 50px;
}

.grid-section-size {
    color: #50BCF0;
    font-family: "Jersey 10", sans-serif;
    font-size: 50px;
    text-align: center;
    min-width: 140px;
    margin: auto 0 0;
}

.grid-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 800px;
    max-height: 800px;
    box-sizing: border-box;
    gap: 20px;
    aspect-ratio: 1 /1;
}

.grid {
    background-color: #444243;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 800px;
    max-height: 800px;
    border: 5px solid #50BCF0;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.grid-square {
    flex: 1 1 auto;
    border: 0px dashed #50BCF0;
    box-sizing: border-box;
    margin: 0px;
    aspect-ratio: 1 / 1;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    outline: none;
    opacity: 0.7;
    background-color: #50BCF0;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}